<div class="_message" data-id="<%= message.id %>">
  <h2 class="_message-header">
    <%= message.title %>
  </h2>

  <span class="metadata">
    <date class="_message-post-date">
      <%= time_ago_in_words(message.created_at) %> ago,
    </date>
		
    <%= render partial: "users/icon", locals: { user: message.author } %>

    from ~
    <a href="<%= user_url(message.author) %>">
      <%= message.author.username %>
    </a>
  </span>

  <p class="_message-body">
    <%= message.body %>
  </p>

  <% unless message.author.id == current_user.id %>
    <a href="<%= new_user_message_url(message.author) %>">
      Reply
    </a>
  <% end %>
</div>