<div class="_deviation" data-id="<%= model.get("id") %>">
  <img width="300" class="_deviation-media" src="<%= model.get("thumb_url") %>">

  <h2 class="_deviation-title">
    <a href=# class="deviation-show" data-id="<%= model.get("id") %>">
      <%= model.escape("title") %>
    </a>
  </h2>

  <span class="metadata">
    by ~<a href="/users/<%= model.get("author_id") %>">
      <%= model.get("author") %>
    </a>
  </span>
</div>