<div class="_deviation" data-id="<%= model.get("id") %>">
  <a href="/deviations/<%= model.get("id") %>" class="deviation-show" data-id="<%= model.get("id") %>">
    <img width="300" class="_deviation-media" src="<%= model.get("thumb_url") %>">

    <h2 class="_deviation-title">
        <%= model.escape("title") %>
    </h2>

  </a>
</div>