<div class="_deviation" data-id="<%= model.get('id') %>">
  <a id="dev<%= model.get('id') %>" class="img-link" href=#>
    <img width="300" class="_deviation-media" src="<%= model.get("thumb_url") %>">
  </a>
    <h2 class="_deviation-title">
      <%= model.escape("title") %>
    </h2>

    <span class="metadata">
      by ~<%= model.escape("author") %>
    </span>
</div>
