<section class="form main-content center">
  <h1 class="form-header">
    Log In
  </h1>

  <form
    class="login-form"
    action="<%= session_url %>"
    method="post">

    <%= auth_token %>

    <input
      class="text-input"
      type="text"
      name="user[username]"
      placeholder="Username">

    <input
      class="text-input"
      type="password"
      name="user[password]"
      placeholder="Password">

    <input
      class="submit-button"
      type="submit"
      value="Log In">
  </form>

  <a class="sign-up-link" href="<%= new_user_url %>">
    | Sign Up
  </a>

	<form action="<%= auth_facebook_callback_url %>" method="get">
		<%= auth_token %>

		<input class="facebook-login" type="submit" value="facebook">
	</form>
</section>