<div class="comment-wrapper">
  <span class="metadata">
    <date>
      <%= time_ago_in_words(comment.created_at) %> ago,
    </date>

    <%= render partial: "users/icon", locals: {user: comment.commenter } %>

    by ~
    <a href="<%= user_url(comment.commenter) %>">
      <%= comment.commenter.username %>
    </a>
  </span>

  <p>
    <%= comment.body %>
  </p>

  <%= render partial: "comments/form", locals: {
    type: "Comment",
    id: comment.id
  } %>

  <%= render comment.comments %>
</div>

<script>
  $(".comment-form").hide();
  $(".comment-wrapper").on("click", ".comment-icon", function (event) {
    var $target = $(event.target);

    if($target.hasClass("half-opacity")){
      $target.removeClass("half-opacity");
      $target.siblings(".comment-form").show();
    } else {
      $target.addClass("half-opacity");
      $target.siblings(".comment-form").hide();
    }
  });

  $("body").on("ajax:success", ".comment-form", function (event, data) {
    $(event.target).closest($(".comments-wrapper")).prepend(data);
  });
</script>
