<div class="comment-wrapper">
  <span class="metadata">
    <date>
      <%= time_ago_in_words(comment.created_at) %> ago,
    </date>

    <%= render partial: "users/icon", locals: {user: comment.commenter } %>

    by ~
    <a href="<%= user_url(comment.commenter) %>">
      <%= comment.commenter.username %>
    </a>
  </span>

  <p>
    <%= comment.body %>
  </p>

  <div class="comment-wrapper">
    Hover to Respond
    <div class="respond">
    <%= render partial: "comments/form", locals: {
      type: "Comment",
      id: comment.id
    } %>
    </div>
  </div>

  <%= render comment.comments %>
</div>