<article class="journal" data-id="<%= model.get("id") %>">

  <header class="group">
    <h2 class="journal-title">
      <%= model.escape("title") %>
    </h2>
    <date>
      Posted on <%= model.escape("created_at") %>
    </date>
  </header>
  <p class="journal-body">
    <%= model.escape("body") %>
  </p>
  <footer class="group">
    <div class="journal-tags">
      <% if(model._tags){ %>
        <% model._tags.each(function(tag) {%>
          <a href="<%= tag.get("url") %>">*<%= tag.escape("tag") %></a>
        <% }) %>
      <% } %>
    </div>
    <% if(model._comments){ %>
      <% model._comments.each( function(comment){ %>
        <%= JST["comments/comment"]({ model: comment }) %>
      <% }) %>
    <% } %>
  </footer>

</article>