<article class="journal" data-id="<%= journal.get("id") %>">

  <header class="group">
    <h2 class="journal-title">
      <%= journal.escape("title") %>
    </h2>
    <date>
      Posted on <%= journal.escape("created_at") %>
    </date>
  </header>
  <p class="journal-body">
    <%= journal.escape("body") %>
  </p>
  <footer class="group">
    <div class="journal-tags">
      <%= journal.escape("tags") %>
    </div>
      <%= journal.escape("comments") %>
  </footer>

</article>