<img src="<%= @deviation.media.url %>">

<h1><a href="<%= deviation_url(deviation) %>"><%= deviation.title %></a></h1>
by ~<a href="<%= user_url(deviation.user) %>"><%= deviation.user.username %></a>

<p>
  <%= deviation.description %>
</p>