<div class="_deviation" data-id="<%= deviation.id %>">
  <img width="300" class="_deviation-media" src="<%= deviation.media.url %>">

  <h2 class="_deviation-title">
    <a id="dev<%= deviation.id %>" href=#><%= deviation.title %></a>
  </h2>

  <span class="metadata">
  <%= render partial: "users/icon", locals: { user: deviation.user } %>

    by ~<a href="<%= user_url(deviation.user) %>">
      <%= deviation.user.username %>
    </a>
  </span>
</div>

<script type="text/javascript">
  $("#dev<%= deviation.id %>").on("click", function (event) {
    event.preventDefault();

    $("body").append("<%=
      escape_javascript(
        render partial: "deviations/modal",
               locals: { deviation: deviation }
      )
    %>")
  })
</script>

