<form
  class="deviation-form"
  action="<%= @deviation.persisted? ? deviation_url : deviations_url %>"
  method="post"
  enctype="multipart/form-data">

  <% if @deviation.persisted? %>
    <input type="hidden" name="_method" value="patch">

    <img class="image-upload-preview" src="<%= @deviation.media.url %>">
  <% end %>

  <%= auth_token %>

  <input type="hidden" name="deviation[user_id]" value="<%= current_user.id %>">

  <div class="file-upload">
    <!-- <label for="deviation_media">Your Artwork</label> -->
    <input type="file" name="deviation[media]" id="deviation_media">
  </div>

  <input
    class="text-input"
    type="text"
    name="deviation[title]"
    value="<%= @deviation.title %>"
    placeholder="Title"
  >

  <textarea
    class="textarea-input"
    name="deviation[description]"
    placeholder="Description"
  ><%= @deviation.description %></textarea>

  <fieldset class="checkbox-input-set">
    <legend>Options:</legend>

    <div class="checkbox">
      <label for="can_comment">Can Comment?</label>
      <input type="hidden" name="deviation[is_commentable]" value="false">
      <input
        id="can_comment"
        type="checkbox"
        name="deviation[is_commentable]"
        value="true"
        <%= "checked" if @deviation.is_commentable %>
      >
    </div>

    <div class="checkbox">
      <label for="can_share">Can Share?</label>
      <input type="hidden" name="deviation[is_shareable]" value="false">
      <input
        id="can_share"
        type="checkbox"
        name="deviation[is_shareable]"
        value="true"
        <%= "checked" if @deviation.is_shareable %>
      >
    </div>

    <div class="checkbox">
      <label for="can_like">Can Like?</label>
      <input type="hidden" name="deviation[is_likeable]" value="false">
      <input
        id="can_like"
        type="checkbox"
        name="deviation[is_likeable]"
        value="true"
        <%= "checked" if @deviation.is_likeable %>
      >
    </div>

    <div class="checkbox">
      <label for="mature_content">Mature Content?</label>
      <input type="hidden" name="deviation[is_mature]" value="false">
      <input
        id="mature_content"
        type="checkbox"
        name="deviation[is_mature]"
        value="true"
        <%= "checked" if @deviation.is_mature %>
      >
    </div>

    <div class="checkbox">
      <label for="can_remix">Allow Remixes?</label>
      <input type="hidden" name="deviation[can_remix]" value="false">
      <input
        id="can_remix"
        type="checkbox"
        name="deviation[can_remix]"
        value="true"
        <%= "checked" if @deviation.can_remix %>
      >
    </div>

    <div class="checkbox">
      <label for="is_cc">Creative Commons?</label>
      <input type="hidden" name="deviation[is_CC]" value="false">
      <input
        id="is_cc"
        type="checkbox"
        name="deviation[is_CC]"
        value="true"
        <%= "checked" if @deviation.is_CC %>
      >
    </div>

    <div class="checkbox">
      <label for="is_drm">DRM Free?</label>
      <input type="hidden" name="deviation[is_DRM]" value="true">
      <input
        type="checkbox"
        name="deviation[is_DRM]"
        value="false"
        <%= "checked" if @deviation.is_DRM == false %>
      >
    </div>
  </fieldset>

  <input
    class="submit-button"
    type="submit"
    value="<%= @deviation.persisted? ? "Edit Deviation" : "Create Deviation" %>"
  >
</form>