<form
  action="<%= @deviation.persisted? ? deviation_url : deviations_url %>"
  method="post"
>

  <% if @deviation.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>

  <input type="hidden" name="deviation[user_id]" value="<%= current_user.id %>">

  <% if @deviation.media %>
    <img src="<%= @deviation.media.url %>">
  <% end %>

  <label for="deviation_media">Your Artwork</label>
  <input type="file" name="deviation[media]" id="deviation_media">


  <label>
    Title <br>
    <input type="text" name="deviation[title]" value="<%= @deviation.title %>">
  </label>
  <br>

  <label>
    Description <br>
    <textarea
      name="deviation[description]"
    ><%= @deviation.description %></textarea>
  </label>
  <br>

  <fieldset>
    <input type="hidden" name="deviation[is_commentable]" value="false">

    <label>
      Can Comment?
      <input type="checkbox" name="deviation[is_commentable]" value="true"
        <%= "checked" if @deviation.is_commentable %>
      >
    </label><br>

    <input type="hidden" name="deviation[is_shareable]" value="false">

    <label>
      Can Share?
      <input type="checkbox" name="deviation[is_shareable]" value="true"
        <%= "checked" if @deviation.is_shareable %>
      >
    </label><br>

    <input type="hidden" name="deviation[is_likeable]" value="false">

    <label>
      Can Like?
      <input type="checkbox" name="deviation[is_likeable]" value="true"
        <%= "checked" if @deviation.is_likeable %>
      >
    </label><br><br>

    <input type="hidden" name="deviation[is_mature]" value="false">

    <label>
      Mature Content?
      <input type="checkbox" name="deviation[is_mature]" value="true"
        <%= "checked" if @deviation.is_mature %>
      >
    </label><br>

    <input type="hidden" name="deviation[can_remix]" value="false">

    <label>
      Allow Remixes?
      <input type="checkbox" name="deviation[can_remix]" value="true"
        <%= "checked" if @deviation.can_remix %>
      >
    </label><br>

    <input type="hidden" name="deviation[is_CC]" value="false">

    <label>
      Creative Commons?
      <input type="checkbox" name="deviation[is_CC]" value="true"
        <%= "checked" if @deviation.is_CC %>
      >
    </label><br>

    <input type="hidden" name="deviation[is_DRM]" value="true">

    <label>
      DRM Free?
      <input type="checkbox" name="deviation[is_DRM]" value="false"
        <%= "checked" if @deviation.is_DRM == false %>
      >
    </label>
  </fieldset><br>

  <input type="submit"
         value="<%= @deviation.persisted? ? "Edit Deviation" : "Create Deviation" %>"
  >

</form>