<section class="deviation-info">

  <table>
    <tr>
      <td>
        <h2 class="deviation-title">
          <%= deviation.title %>
        </h2>
      </td>
      <td>
        <% if deviation.user.id == current_user.try(:id) %>
          <p><%= link_to 'Edit', edit_deviation_url(deviation) %></p>
        <% end %>

        <% if deviation.is_likeable && current_user.try(:is_verified) %>
          <%= render partial: "likes/button", locals: {
            type: "Deviation",
            set: current_user.try(:liked_deviations),
            target: deviation,
            owner: deviation.user
          } %>
        <% end %>
      </td>
    </tr>
  </table>


  <span class="deviation-author">
    <%= render partial: "users/icon", locals: {user: deviation.user } %>

    by ~<a href="<%= user_url(deviation.user) %>">
      <%= deviation.user.username %>
    </a>
  </span>

  <p class="views-and-likes">
    <%= deviation.views.count %> views
    <% if deviation.is_likeable %>
    | <%= deviation.likes.count %> likes
    <% end %>
  </p>

  <p class="deviation-description">
    <%= deviation.description %>
    <br><br>
    <%= render deviation.tags %>
  </p>

  <% if deviation.is_commentable %>
    <section id="comments">
      <%= render partial: "comments/form", locals: {
        type: "Deviation",
        id: deviation.id
      } %>

      <%= render deviation.comments.order("created_at DESC") %>
    </section>

    <script>
      $(".comment-form").hide();
      $("#comments").on("click", ".form-header", function (event) {
        var $target = $(event.target)

        $target.toggleClass("half-opacity")
        $target.siblings(".comment-form").toggle()
      });

      $(".comment-form").on("ajax:success", function (event, data) {
        $(event.target).closest(".comment-wrapper").append(data)
        $(".comment-form").hide();
        $(".form-header").addClass("half-opacity")
      });
    </script>
  <% else %>
    Comments have been disabled.
  <% end %>
</section>
