<img class="deviation-media" src="<%= @deviation.media.url %>">

<h2 class="deviation-title">
  <%= @deviation.title %>
</h2>

<p>
  Likes: <%= @deviation.likes.count %>
</p>

  <%= render partial: "likes/button", locals: {
    type: "Deviation",
    set: current_user.liked_deviations,
    target: @deviation,
    owner: @deviation.user
  } %>

<p>Views: <%= @deviation.views.count %></p>

<span class="deviation-author">
  <%= render partial: "users/icon", locals: {user: @deviation.user } %>

  by ~<a href="<%= user_url(@deviation.user) %>">
    <%= @deviation.user.username %>
  </a>
</span>

<p class="deviation-description">
  <%= @deviation.description %>
</p>

<% if @deviation.user.id == current_user.try(:id) %>
  <%= link_to 'Edit', edit_deviation_url(@deviation) %>
<% end %>

<%= render partial: "comments/form", locals: {
  type: "Deviation",
  id: @deviation.id
} %>

<%= render @deviation.comments %>