<form
  class="user-form"
  action="<%= @user.persisted? ? user_url : users_url %>"
  method="post"
  enctype="multipart/form-data">

  <% if @user.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>

  <input
    class="text-input"
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    placeholder="Username">

  <input
    class="text-input"
    type="email"
    name="user[email]"
    value="<%= @user.email %>"
    placeholder="Email">

  <% unless @user.persisted? %>

    <!-- display current img if there is one?; class="image-upload-preview" -->

    <div class="file-upload">
      <label for="user_avatar">Profile Picture:</label>
      <input type="file" name="user[avatar]" id="user_avatar">
    </div>

    <input
      class="text-input"
      type="password"
      name="user[password]"
      placeholder="Password">

    <input
      class="text-input"
      type="password"
      name="user[password_confirmation]"
      placeholder="Confirm Password">

  <% end %>

  <input
    class="text-input"
    type="text"
    name="user[first_name]"
    value="<%= @user.first_name %>"
    placeholder="First Name">

  <input
    class="text-input"
    type="text"
    name="user[last_name]"
    value="<%= @user.last_name %>"
    placeholder="Last Name">

  <fieldset class="radio-button-input-set">
    <legend>Gender:</legend>

    <div class="radio-button">
      <label for="male_gender">Male</label>
      <input
        id="male_gender"
        type="radio"
        name="user[gender]"
        value="M"
        <%= "checked" if @user.gender == "M"%>
      >
    </div>

    <div class="radio-button">
      <label for="female_gender">Female</label>
      <input
        id="female_gender"
        type="radio"
        name="user[gender]"
        value="F"
        <%= "checked" if @user.gender == "F"%>
      >
    </div>

    <div class="radio-button">
      <label for="other_gender">Other</label>
      <input
        id="other_gender"
        type="radio"
        name="user[gender]"
        value="O"
        <%= "checked" if @user.gender == "O"%>
      >
    </div>

    <div class="radio-button">
      <label for="no_gender">None/Prefer not to say</label>
      <input
        type="radio"
        name="user[gender]"
        value="n/a"
        <%= "checked" if @user.gender == "n/a" || !@user.persisted? %>
      >
    </div>

  </fieldset>

  <div class="date-input">
    <label for="dob">Date of Birth:</label>
    <input
      id="dob"
      type="date"
      name="user[date_of_birth]"
      value="<%= @user.date_of_birth %>">
  </div>

  <div class="dropdown-input">
    <label for="user_country">Place of Origin:</label>
    <select id="user_country" name="user[country]">
      <option></option>

      <% ApplicationHelper::COUNTRIES.each do |country_name| %>
        <option
          value="<%= country_name %>"
          <%= "selected" if @user.country == country_name %>
        >
          <%= country_name %>
        </option>
      <% end %>

    </select>
  <div>

  <textarea
    class="textarea-input"
    name="user[biography]"
    placeholder="Biography"><%= @user.biography %></textarea>

  <input
    class="submit-button"
    type="submit"
    value="<%= @user.persisted? ? "Update" : "Sign Up" %>"
  >
</form>