<form action="<%= @user.persisted? ? user_url : users_url %>" method="post">

  <% if @user.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>


  <label>
    Username<br>
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <br>

  <label>
    Email<br>
    <input type="email" name="user[email]" value="<%= @user.email %>">
  </label>
  <br>

  <% unless @user.persisted? %>

    <% if @user.avatar %>
      <img src="<%= @user.avatar.url(:thumb) %>">
    <% end %>

    <label for="user_avatar">Profile Picture</label>
    <input type="file" name="user[avatar]" id="user_avatar">

    <label>
      Password<br>
      <input type="password" name="user[password]">
    </label>
    <br>

    <label>
      Confirm Password<br>
      <input type="password" name="user[password_confirmation]">
    </label>
    <br>

  <% end %>

  <hr>
  <label>
    First Name<br>
    <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
  </label>
  <br>

  <label>
    Last Name<br>
    <input type="text" name="user[last_name]" value="<%= @user.last_name %>">
  </label>
  <br>

  <fieldset>
    Gender<br>
    <label>
      Male
      <input
        type="radio"
        name="user[gender]"
        value="M"
        <%= "checked" if @user.gender == "M"%>
      >
    </label><br>

    <label>
      Female
      <input
        type="radio"
        name="user[gender]"
        value="F"
        <%= "checked" if @user.gender == "F"%>
      >
    </label><br>

    <label>
      Other
      <input
        type="radio"
        name="user[gender]"
        value="O"
        <%= "checked" if @user.gender == "O"%>
      >
    </label><br>

    <label>
      None/Prefer not to say
      <input
        type="radio"
        name="user[gender]"
        value="n/a"
        <%= "checked" if @user.gender == "n/a" %>
      >
    </label>
  </fieldset>
  <br>

  <label>
    Date of Birth<br>
    <input type="date"
           name="user[date_of_birth]"
           value="<%= @user.date_of_birth %>">
  </label>
  <br>

  <label>
    Country<br>
    <select name="user[country]">
      <option></option>
      <option
        value="United States"
        <%= "selected" if @user.country == "United States" %>
      >
        America
      </option>
      <option
        value="Canada"
        <%= "selected" if @user.country == "Canada" %>
      >
        Not America
      </option>
    </select>
  </label>
   <br>

   <label>
    Biography<br>
    <textarea name="user[biography]"><%= @user.biography %></textarea>
  </label>
  <br>

  <input type="submit" value="<%= @user.persisted? ? "Finish Editing" : "Sign Up" %>">
</form>