<section class="user-info">

  <%# TEMPORARY SOLUTION: %>
  <% if @user.avatar_isnt_empty %>
    <img class="user-avatar center" src="<%= user.avatar.url(:thumb) %>">
  <% end %>

  <table>
    <tr>
      <td>
        <h2 class="username">
          <%= user.username %>
        </h2>
      </td>
      <td>
        <%= render partial: "likes/button", locals: {
          type: "User",
          set: current_user.try(:followed_users),
          target: user,
          owner: user
        } %>
      </td>
    </tr>
  </table>

  <% if user.country_isnt_nil_or_empty %>
    <p class="location">
      <%= user.country %>
    </p>
  <% end %>

  <% unless current_user.try(:id) == user.id %>
    <%= link_to 'write message', new_user_message_url(user) %>
  <% end %>

  <p class="views-and-likes">
    <%= user.views.count %> views | <%= user.likes.count %> likes
  </p>

  <% if user.biography_isnt_nil_or_empty %>
    <p class="biography">
      <h3>About:</h3>
      <%= user.biography %>
    </p>
  <% end %>

  <footer class="reveal-content-on-hover">
    <div class="hidden-content">
      <% if user.entire_name_isnt_nil_or_empty  %>
        <p class="name">
          <%= user.first_name if user.first_name %>
          <%= user.last_name if user.last_name %>
        </p>
      <% end %>

      <p class="email">
        <a href="mailto:<%= user.email %>"><%= user.email %></a>
      </p>

      <% if user.gender  %>
        <p class="gender">
          <%= user.gender %>
        </p>
      <% end %>

      <p class="metadata dob">
        <%= user.date_of_birth.strftime("%B %e, %Y") %>
      </p>
    </div>

    more info
  </footer>

</section>
