<section class="user-info group">

  <%# TEMPORARY SOLUTION: %>
  <figure class="user-avatar">
    <% if user.avatar_isnt_empty %>
        <img class="center" src="<%= user.avatar.url(:thumb) %>">
    <% else %>
        <%= image_tag "default-profile.png", class: "center" %>
    <% end %>
  </figure>


  <table class="shrinkwrap-center">
    <tr>
      <td>
        <p class="username">
          <%= user.username %>
        </p>
      </td>
      <td>
        <% if current_user.try(:is_verified)  %>
          <%= render partial: "likes/button", locals: {
            type: "User",
            set: current_user.try(:followed_users),
            target: user,
            owner: user
          } %>
        <% end %>
      </td>
    </tr>
  </table>

  <p class="name-and-country">
    <% if user.entire_name_isnt_nil_or_empty  %>
        <%= user.first_name if user.first_name %>
        <%= user.last_name if user.last_name %><% end %>
		<%= ", " if user.entire_name_isnt_nil_or_empty && user.country_isnt_nil_or_empty %>
    <%= user.country if user.country_isnt_nil_or_empty %>
  </p>

  <% unless current_user.try(:id) == user.id %>
    <%= link_to 'message me', new_user_message_url(user) %>
  <% end %>

  <p class="pieces-and-likes">
    <%= user.deviations.count %> pieces | <%= user.likes.count %> likes
  </p>

  <% if user.biography_isnt_nil_or_empty %>
    <p class="biography">
      <%= user.biography %>
    </p>
  <% end %>

  <footer class="reveal-content-on-hover">
    <div class="hidden-content">

      <p class="email">
        <a href="mailto:<%= user.email %>"><%= user.email %></a>
      </p>

      <% if user.gender  %>
        <p class="gender">
          <%= user.gender %>
        </p>
      <% end %>

      <p class="metadata dob">
        <%= user.date_of_birth.year %>
      </p>
    </div>

    more info
  </footer>

</section>
