<ul class="session-nav">
  <li>
    <a
      class="session-nav-item"
      href="<%= user_url(current_user) %>">
      My Profile
    </a>
  </li>
	<li>
    <a
      class="session-nav-item"
      href="<%= user_notifications_url(current_user) %>">
      Notifications (<%= current_user.unseen_notifications.count %>)
    </a>
	</li>
	<li>
		<a
      class="session-nav-item"
      href="<%= edit_user_url(current_user) %>">
      Edit My Info
		</a>
	</li>
	<li class="session-nav-item">
    <form class="logout-form" action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input class="submit-button" type="submit" value="Log Out">
    </form>
	</li>
</ul>