<section class="user-profile">
<p class="username">
  <h3>Username:</h3>
  <span><%= @user.username %></span>
</p>

<% if @user.avatar %>
  <img src="<%= @user.avatar.url(:thumb) %>">
<% end %>

<p class="journals-and-galleries">
  <a href="<%= user_journals_url(@user) %>">

    <% if @user.first_name %>
      <%= @user.first_name %>'s
    <% elsif @user.last_name %>
      <%= @user.last_name %>'s
    <% end %>

    Journals: (<%= @user.journals.count %>)

  </a> | <a href="<%= user_galleries_url(@user) %>">
    <% if @user.first_name %>
      <%= @user.first_name %>'s
    <% elsif @user.last_name %>
      <%= @user.last_name %>'s
    <% end %>

    Galleries
  </a>
</p>

<p class="views">
  <h3>Views:</h3>
  <span><%= @user.views.count %></span>
</p>

<span>
  <%= @user.likes.count %>
</span>

<% if current_user.followed_users.include?(@user) %>
  <%= render partial: "likes/destroy", locals: {
    type: "User",
    id: @user.id
  } %>
<% elsif current_user.id != @user.id %>
  <%= render partial: "likes/create", locals: {
    type: "User",
    id: @user.id
  } %>
<% end %>

<% if @user.first_name || @user.last_name  %>
  <p class="name">
    <h3> Name: </h3>
    <span>
      <%= @user.first_name if @user.first_name %>
      <%= @user.last_name if @user.last_name %>
    </span>
  </p>
<% end %>

<p class="email">
  <h3>Email:</h3>
  <span><%= @user.email %></span>
</p>

<% if @user.gender  %>
  <p class="gender">
    <h3>Gender:</h3>
    <span><%= @user.gender %></span>
  </p>
<% end %>

<p class="dob">
  <h3>Date of birth:</h3>
  <span><%= @user.date_of_birth %></span>
</p>

<p class="location">
  <h3>Location:</h3>
  <span><%= @user.country %></span>
</p>

<% if @user.biography %>
  <p class="biography">
    <h3>Biography:</h3>
    <span><%= @user.biography %></span>
  </p>
<% end %>

<p class="user-options">
  <% if @user.id == current_user.try(:id) %>
    <a href="<%= user_messages_url(@user) %>">Messages (<%= @user.messages.count %>) </a> |
    <%= link_to 'Edit My Info', edit_user_url(@user) %>
  <% else %>
    <%= link_to 'Message Me', new_user_message_url(@user) %>
  <% end %>
</p>
</section>

<%= render @user.deviations %>