<form
  class="journal-form"
  action="<%= @journal.persisted? ? journal_url : user_journals_url %>"
  method="post"
>

  <% if @journal.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>

  <input type="hidden" name="journal[user_id]" value="<%= current_user.id %>">

  <input
    class="text-input title"
    type="text"
    name="journal[title]"
    value="<%= @journal.title %>"
    placeholder="Title">

  <textarea
    class="textarea-input description"
    name="journal[body]"
    placeholder="Write Your Journal Here"
  ><%= @journal.body %></textarea>

  <input type="text" name="journal[tags]" id="tags" placeholder="Tags" value="<%= @journal.tags.pluck(:tag).join(", ") %>">

  <input
    class
    type="submit"
    value="<%= @journal.persisted? ? "Edit Journal" : "Post Journal" %>"
  >
</form>

<% if @journal.persisted? %>
  <%= button_to "DELETE", journal_url(@journal), method: :delete %>
<% end %>