<div class="_journal" data-id="<%= journal.id %>">
  <h2 class="_journal-title">
    <a href="<%= journal_url(journal) %>"><%= journal.title %></a>
  </h2>

  <span class="metadata">
    <date class="_journal-post-date">
      <%= time_ago_in_words(journal.created_at) %> ago,
    </date>

    <%= render partial: "users/icon", locals: {user: journal.user } %>
    by ~<a href="<%= user_url(journal.user) %>"><%= journal.user.username %></a>
  </span>
</div>