<div class="_gallery" data-id="<%= @gallery.id %>">
  <h2 class="_gallery-header">
    <%= @gallery.title %>
  </h2>

  <% if @gallery.user_id == current_user.id %>
    <a href="<%= edit_gallery_url(@gallery) %>">Edit</a>
  <% end %>

  <p class="_gallery-description">
    <%= @gallery.description %>
  </p>

  <%= render @gallery.deviations %>
</div>