<!DOCTYPE html>
<html>
<head>
  <title>dArt</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="<%= deviations_url %>"><em>d</em><strong>Art</strong><br></a>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <strong class="error"><%= error %></strong><br>
    <% end %>
    <br><br>
  <% end %>

  <% if logged_in? %>
    <strong><a href="<%= user_url(current_user) %>"><%= current_user.username %></a></strong>
    <%= button_to "Submit Art", new_deviation_url, method: :get %>

    <%= button_to "Log out", session_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
