<!DOCTYPE html>
<html>
<head>
  <title>dArt</title>
  <%= csrf_meta_tags %>
  <style>
    p, body, html, h1, fieldset {
      padding: 0;
      margin: 0;
      border: 0;

      font: inherit;
      font-family: Helvetica,sans-serif;
    }

    body { width: 100%; text-align: center; padding-top: 200px;}
    .error {color: red;}
  </style>
</head>
<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <strong class="error"><%= error %></strong><br>
    <% end %>
    <br><br>
  <% end %>

  <% if logged_in? %>
    <strong><a href="<%= user_url(current_user) %>"><%= current_user.username %></a></strong>
    <%= button_to "Submit Art", new_deviation_url, method: :get %>

    <%= button_to "Log out", session_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
