<!DOCTYPE html>
<html>
<head>
  <title>dArt</title>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1 class="dArt-header">
      <a href="<%= deviations_url %>">dArt</a>
    </h1>

    <% if logged_in? %>
      <h2 class="current-user-header">
        <a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
      </h2>

      <%= button_to "Submit Art", new_deviation_url, method: :get %>
      <%= button_to "Log out", session_url, method: :delete %>
    <% end %>
  </header>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <% fail %>
      <p class="error"><%= error %></p>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
