<!DOCTYPE html>
<html>
<head>
  <title>dArt</title>
  <meta charset='utf-8'>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
		<h1 class="dArt-logo">
      <a href="<%= deviations_url %>">dArt</a>
		</h1>

    <%= render partial: "sessions/nav" if logged_in? %>
  </header>

  <%= render partial: "flash/errors" %>
  <%= yield %>

</body>
</html>
